
body{
    text-align: center;
    background-color: #0066cc;
}

main{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
}

.notas{
    overflow: auto;
    text-align: left;
    position: relative;
    display: block;
    border: 2px solid #000;
    height: 100px;
    margin: 2px;
}

.topo{
    margin: 10px;
}
.fundo{
    margin: 10px;
    text-align: left;
}